@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Monoton&family=Shrikhand&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Style the scrollbar */
::-webkit-scrollbar {
  width: 7px; /* Width of the entire scrollbar */
}

/* Style the track (progress bar) */
::-webkit-scrollbar-track {
  background: white; /* Background color of the track */
}

/* Style the handle (scroll thumb) */
::-webkit-scrollbar-thumb {
  background: rgb(247, 125, 77); /* Background color of the handle */
  border-radius: 6px; /* Rounded corners of the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(240, 109, 61); /* Background color when hovering */
}
